{% extends 'users/base.html' %}

{% block content%}


<div class="col-md-6 offset-md-3">
    <center>
    <h2>Password Reset</h2>
    <br>
    <h3 style="text-align: left;">Please enter the email address you used to register
        with us and we will send you a link to reset your password</h3>
    </center>
    <br/>
    <form action="" method="POST" class="text-center" style="font-size: large;">
        {% csrf_token %}
        {{form.as_p}}
        <br/>
        <input type="submit" class="btn btn-outline-info btn-lg" value="Send email" /><br>
    </form>



</div>
{% endblock %}